<div class="row">
	<div class="col-sm-1 col-sm-offset-5" id="welcome">
		<h1 style="margin-bottom: 40px;">Companies</h1>
	</div>
  <table class="col-sm-offset-1 table-hover table-striped table-bordered">
    <thead>
      <tr>
        <th class="col-sm-1" class="pic">Logo</th>
        <th class="col-sm-1" class="pic">Name</th>
        <th class="col-sm-2" class="pic">Contact</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="col-sm-1" class="pic"> <%= image_tag("Logos/IL.png", :size => "130x130") %> </td>
        <td class="col-sm-1" class="pic">Icalia Labs</td>
        <td class="col-sm-2">Phone: 01 81 2089 8857 <br> Email: icalia@icalialabs-mty.com</td>
      </tr>
      <tr>
        <td class="col-sm-1" class="pic"> <%= image_tag("Logos/Towa.png", :size => "130x130") %> </td>
        <td class="col-sm-1" class="pic">Towa</td>
        <td class="col-sm-2">Phone: 01 81 8319 0533 <br> Email: towa@towa-mty.com</td>
      </tr>
      <tr>
        <td class="col-sm-1" class="pic"> <%= image_tag("Logos/DS.png", :size => "130x130") %> </td>
        <td class="col-sm-1" class="pic">Disruptive Angels</td>
        <td class="col-sm-2">Phone: 01 81 8343 4363 <br> Email: disruptive@disrupt-mty.com</td>
      </tr>
      <tr>
        <td class="col-sm-1" class="pic"> <%= image_tag("Logos/ACM.png", :size => "130x130") %> </td>
        <td class="col-sm-1" class="pic">ACM</td>
        <td class="col-sm-2">Phone: 01 81 8155 8700 <br> Email: acm@acm.com</td>
      </tr>
      <tr>
        <td class="col-sm-1" class="pic"> <%= image_tag("Logos/MLH.jpg", :size => "130x130") %> </td>
        <td class="col-sm-1" class="pic">MLH</td>
        <td class="col-sm-2">Phone: 01 81 8345 8790 <br> Email: mlh@mlh.com</td>
      </tr>
      <tr>
        <td class="col-sm-1" class="pic"> <%= image_tag("Logos/DF.png", :size => "130x130") %> </td>
        <td class="col-sm-1" class="pic">Definity first</td>
        <td class="col-sm-2">Phone: 01 81 8192 2554 <br> Email: definity@definityfirst.com</td>
      </tr>
    </tbody>
  </table>
</div>