<div class="row">
	<div class="col-sm-2 col-sm-offset-5">
		<h1 id="welcome">Join Event</h1>
	</div>
</div>
<div class="row">
	<div class="forms">
		<%= form_for :user, :html => { :style => 'font-size: 20px;' } do |f| %>
			Event&nbsp; <%= f.text_field :event %> </br></br>
			Name&nbsp; <%= f.text_field :name %> </br></br>
			Phone <%= f.text_field :phone %> </br></br>
			Email&nbsp; <%= f.text_field :email %> </br></br>
		<% end %>
		<button name='button' type='submit' style="height: 30px; width: 70px;"> <%=link_to "Submit", admin_path, {class: "link"} %> </button>
	</div>
</div>
