<!DOCTYPE html>
<html>
  <head>
    <title>Eventech</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse bg-primary" id="head">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href=<%=admin_path%> style="font-size: 25px;" >Eventech</a>
      </div>
      <ul class="nav navbar-nav">
        <li style="font-size: 20px;"> <%=link_to "Companies", pages_companies_path %> </li>
        <li style="font-size: 20px;"> <%=link_to "New Event", pages_new_events_path %> </li>
        <li style="font-size: 20px;"> <%=link_to "Join Event", pages_join_event_path %> </li>
        <li style="font-size: 20px;"> <%=link_to "Logout", login_path %> </li>
      </ul>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
